

  <!-- (click) passes input value to add() and then clears the input 
  <button (click)="add(todoSubject.value); todoSubject.value=''">
    add
  </button>


  <hr>
  <div>
    <label>subject:
      <input #todoSubject />
    </label>  
        <button (click)="search(todoSubject.value)">
           search 
        </button>
  
</div>
  -->
<hr>



<div class="w3-container">
    <div>
        <label>Todo List:</label>  
      
        <button (click)="getTodoList()">list todos</button>
        <p>*reload todo list after delete or edit</p>
    </div>
      <ul class="w3-container">
           
      <table style="width:100%"> 
          <th>SUBJECT</th>
          <th>STATUS</th>
          <th>CREATED</th>
          <th>MODIFIED</th>
          <th>CATEGORY</th> 
          <th>EDIT/DELETE</th>
       <!-- <li *ngFor="let todo of todos"> -->

      
            <tr *ngFor="let todo of todos">
                  <!----> 
                  <td>  
                    <a (click)="edit(todo)">
                      <span *ngIf="todo!==editTodo">{{todo.subject}}</span>
                      <input *ngIf="todo===editTodo" [(ngModel)]="todo.subject"
                        (blur)="updateTodo()" (keyup.enter)="updateTodo()">
                    </a>
                  </td>
                  

                  <td>    
                    <a (click)="edit(todo)">
                      <span *ngIf="todo!==editTodo">{{todo.status}}</span>
                      <input *ngIf="todo===editTodo" [(ngModel)]="todo.status"
                        (blur)="updateTodo()" (keyup.enter)="updateTodo()">
                    </a>
                  </td>

                  <td>
                    
                      <span>{{todo.created}}</span>
                    
                  </td>

                  <td>
                    
                     <span>{{todo.modified}}</span>
                    
                  </td>
                  
                  <td>
                    <a (click)="edit(todo)">
                      <span *ngIf="todo!==editTodo">{{todo.category}}</span>
                      <input *ngIf="todo===editTodo" [(ngModel)]="todo.category"
                      (blur)="updateTodo()" (keyup.enter)="updateTodo()">
                    </a>  
                  </td>
                  
                  <td>
                    

                    <button>
                      edit
                    </button>
                      <button  (click)="deleteTodo(todo)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
                          <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                          <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                      </button>
                    
                  </td>

             </tr>
         <!-- </li>  -->
      </table> 
      </ul>

     
</div>




  <app-category-list></app-category-list>
  
